.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
}

.pagination button {
  border: 0;
  border-radius: 10px;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: 600;
  background-color: antiquewhite;
  border: 1px solid #ccc;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination__text {
  font-weight: 600;
}
